<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ meta.siteName }}</title>
<meta name="description" content="{{ meta.siteDescription }}" />
<meta name="keywords" content="{{ meta.sitekeyword }}" />
<meta name="creation_Date" content="{{ meta.creationDate }}" />
<meta name="robots" content="{{ meta.robots }}" />
<meta name="author" content="{{ meta.authorName }}" />

<!-- Style -->
<link rel="preload" href="{{ '/css/style.css' | url }}" as="style">
<link rel="stylesheet" href="{{ '/css/style.css' | url }}" media="all">

<!-- Sitemap -->
<link rel="sitemap"
        type="application/rss+xml"
        title="Sitemap for {{meta.siteName}}"
        href="{{ '//sitemap.xml' | url }}" />

<!-- Favicon -->
<link rel="shortcut icon" href="{{ '/favicon/favicon.ico' | url }} " sizes="any" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/favicon/apple-touch-icon.png ' | url }}" />
<link rel="icon" type="image/svg+xml" href="{{ '/favicon/safari-pinned-tab.svg' | url }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon/favicon-32x32.png ' | url }}" />
<link rel="icon" type="image/png" sizes="194x194" href="{{ '/favicon/favicon-194x194.png ' | url }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/favicon/android-chrome-192x192.png ' | url }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon/favicon-16x16.png ' | url }}" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<link rel="mask-icon" href="{{ '/favicon/safari-pinned-tab.svg' | url }}" color=""{{ meta.backgroundColor }}" />
<link rel="shortcut icon" href="{{ '/favicon/favicon.ico' | url }}" />
<meta name="apple-mobile-web-app-title" content="{{ meta.siteName }}" />
<meta name="application-name" content="{{ meta.siteName }}" />
<meta name="msapplication-TileColor" content="{{ meta.backgroundColor }}" />
<meta name="msapplication-TileImage" content="{{ '/favicon/mstile-144x144.png' | url }}" />
<meta name="msapplication-config" content="{{ '/favicon/browserconfig.xml' | url }}" />
<meta name="theme-color" content="{{ meta.themeColor }}" />
<meta name="pinterest-rich-pin" content="false" />

<!-- Service Worker -->
<script>
    if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/sw.js");
</script>
