<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    {% include "head.njk" %}
</head>
<body class="center">
    <main class="content">
        {{ content | safe }}
        <footer>
            <label>Tema:&nbsp;
                <select data-theme-picker name="themepicker" id="theme">
                    <option value="system">System</option>
                    <option value="dark">Notte 🌒</option>
                    <option value="light">Giorno ☀️</option>
                </select>
            </label>
        </footer>
    </main>
</body>
</html>
