<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="w-screen h-screen grid bg-black">
    <main class="max-w-prose  w-11/12 m-auto text-green-500 text-center font-mono">
        {{ content | safe }}
    </main>
</body>
</html>
