<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    {% include "head.njk" %}
</head>
<body class="center">
    <main class="content">
        {{ content | safe }}

        {% include "footer.njk" %}
    </main>
</body>
</html>
