---
title: Starting Project
description: A solid, pre-packaged starting point to speed up the creation process
keyword: 11ty, tailwindcss, html
layout: homepage.njk
permalink: index.html
eleventyNavigation:
    key: Home
---

<h1 class="text-3xl sm:text-4xl md:text-5xl black mb-3">{{ title }}</h1>
<p class="text-lg sm:text-xl md:text-2xl">{{ description }}.</p>
