---
permalink: site.webmanifest
eleventyExcludeFromCollections: true
---
{
    "dir": "ltr",
    "name": "{{ meta.site | safe }}",
    "short_name": "{{ meta.shortName | safe }}",
    "description": "{{ meta.description | safe }}",
    "lang": "{{ meta.lang }}",
    "id": "/",
    "start_url": "/",
    "display": "standalone",
    "display_override": ["fullscreen", "minimal-ui"],
    "orientation": "portrait",
    "theme_color": "{{ meta.themeColor }}",
    "background_color": "{{ meta.backgroundColor }}",
    "prefer_related_applications": false,
    "scope": "/",
    "icons": [
        {
            "src": "/favicon/android-chrome-256x256.png",
            "sizes":"256x256",
            "type":"image/png",
            "purpose": "maskable"
        },
        {
            "src": "/favicon/android-chrome-192x192.png",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "/favicon/android-512x512.png",
            "sizes": "512x512",
            "type": "image/png"
        }
    ],
    "screenshots": [
        {
            "src": "/img/screenshot1.png",
            "type": "image/png",
            "sizes": "540x720",
            "form_factor": "narrow"
        },
        {
            "src": "/img/screenshot2.png",
            "type": "image/png",
            "sizes": "720x540",
            "form_factor":"wide"
        }
    ]
}
