:root {
  --gap: clamp(0.5rem, 1vw + 0.5rem, 1.5rem);
  --font: "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --duration: 0.6s;
  --timing: ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #f1f5f9;
    --bg: #111827;
    --bg2: #1f2937;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #11182c;
    --bg: #f1f5f9;
    --bg2: #e2e8f0;
  }
}

html {
  color-scheme: light dark;
  -webkit-hyphens: auto;
  hyphens: auto;
}

:root:has(#theme [value=dark]:checked) {
  color-scheme: dark;
  --color: #f1f5f9;
  --bg: #111827;
  --bg2: #1f2937;
}

:root:has(#theme [value=light]:checked) {
  color-scheme: light;
  --color: #11182c;
  --bg: #f1f5f9;
  --bg2: #e2e8f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */
body {
  background-color: var(--bg);
  min-height: 100dvh;
  color: var(--color);
  font-family: var(--font);
  font-size: clamp(1.15rem, 1vw + 0.5rem, 2.5rem);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.35;
  accent-color: var(--bg2);
  transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

::selection {
  background-color: var(--bg);
  color: var(--color);
  text-decoration-color: var(--color);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.08em;
  }

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

h1,
h2,
h3 {
  text-wrap: balance;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.025em;
}

h1 {
  font-size: clamp(2.35rem, 4vw + 0.5rem, 4.85rem);
  padding-bottom: clamp(0.75rem, 1vw, 1.25rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.85rem, 3vw + 0.5rem, 3.85rem);
  padding-bottom: clamp(0.5rem, 1vw, 1rem);
}

h3 {
  font-size: clamp(1.45rem, 2vw + 0.5rem, 2.85rem);
  padding-bottom: clamp(0.25rem, 1vw, 0.75rem);
}

p {
  text-align: justify;
  text-wrap: pretty;
}

select {
  background-color: var(--bg);
  border: none;
  transition: background-color var(--duration) var(--timing);
}

select:focus-visible {
  outline: solid 1px var(--bg2);
  outline-offset: 3px;
  transition: outline var(--duration) var(--timing);
}
.content {
  --max-content-width: 50ch;
  --breakout-difference:0.25;
  /*  Compute total allowed grid width to `--breakout-difference` larger than content area  */
  --breakout-grid-width: calc( var(--max-content-width) + (var(--max-content-width) * var(--breakout-difference)) );
  display: grid;
  grid-template-columns: [grid-start] 1fr [content-start] minmax(min(100%, var(--max-content-width)), 1fr) [content-end] 1fr [grid-end];
  width: min(100% - calc(2.75 * var(--gap)), var(--breakout-grid-width));
  row-gap: var(--gap);
  margin-inline: auto;
}

.content > *:not(.breakout) {
  grid-column: content;
}

.content > .breakout {
  grid-column: grid;
}

.center {
  display: grid;
  place-content: center;
}

footer {
  -webkit-user-select: none;
  user-select: none;
  padding-top: var(--gap);
  border-top: 1px solid var(--bg2);
  transition: border var(--duration) var(--timing);
}
